@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	/* Colors */
	--slate-900: #1f314f;
	--slate-500: #68778d;
	--slate-300: #d5e1ef;
	--white: #ffffff;

	/* Spacing */
	--spacing-200: 16px;
	--spacing-300: 24px;
	--spacing-500: 40px;

	--outfit: "Outfit", sans-serif;
}

.outfit-bold {
	font-family: var(--outfit);
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0px;
	font-style: normal;
	font-weight: bold;
}

.outfit-regular {
	font-family: var(--outfit);
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.2px;
	font-style: normal;
}

body {
	background-color: var(--slate-300);
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.qr-card {
	width: 320px;
	height: 499px;
	background-color: var(--white);
	border-radius: 20px;
	padding: 16px 16px 40px 16px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	text-align: center;
}

.qr-card > img {
	width: 288px;
	aspect-ratio: 1/1;
	border-radius: 10px;
}
